
{% extends 'layout/base.html' %}

{% block title %}My Wishlist{% endblock %}
{% load static %}
{% block content %}
<style>
   .cookies-section {
    background-color: #fff8f2;
    padding: 100px ;
}

.cookies-title {
    text-align: center;
    font-weight: bold;
    color: #d2691e;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.cookies-grid {
display: grid;
grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
grid-auto-rows: 450px; 
grid-gap: 50px;
margin-top: 20px;

}

.cookie-card {
    background-color: #F3E5AB;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding-bottom: 10px;
}

.cookie-card img {
    width: 100%;
    height: 80%;
}

.cookie-card h5 {
    font-weight: bold;
    font-size: 32px;
    margin: 10px 0 5px;
}

.cookie-card p {
    color: black;
    font-size: 14px;
    margin-bottom: 5px;
}

.bottom-decor {
    display: block;
    margin: 40px auto 0;
    max-width:75%;
}
</style>

<div class="container my-4">
    <h2 class="cookies-title">My Wishlist</h2>
    <div class="cookies-grid">
        {% for item in items %}
        <div class="cookie-card position-relative">
            <!-- Remove from wishlist button -->
            <a href="{% url 'catalog:remove_from_wishlist' item.product.id %}"
               class="wishlist-btn position-absolute top-0 end-0 m-2 text-danger fs-4">
                <i class="bi bi-heart-fill"></i>
            </a>

            <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
            <h5>{{ item.product.name }}</h5>
            <p>From: ₹ {{ item.product.price }}</p>
        </div>
        {% empty %}
        <p>Your wishlist is empty.</p>
        {% endfor %}
    </div>
    <img src="{% static 'images/border.png' %}" alt="decor" class="bottom-decor">
</div>
{% endblock %}
